



body {
  background: -webkit-radial-gradient(center bottom, circle farthest-corner, rgba(255, 235, 59, 0.68), rgba(96, 125, 139, 0.63), rgba(79, 140, 75, 0.78));
}

header{
  font-size: 40px;
}




#grande b{
  font-size: 40px;
}




#redondo {
    /* cambia estos dos valores para definir el tamaño de tu círculo */
    height: 300px;
    width: 300px;
    /* los siguientes valores son independientes del tamaño del círculo */
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
    background-size: 100% auto;
}



.caja{


  border: 1px solid rgba(0, 0, 0, .3);
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, .1);


}


.step {
    /*position: relative;*/
    padding: 40px;
    margin: 0 auto;

    -webkit-box-sizing: border-box;
    -moz-box-sizing:    border-box;
    -ms-box-sizing:     border-box;
    -o-box-sizing:      border-box;
    box-sizing:         border-box;

    font-family: 'PT Serif', georgia, serif;
    font-size: 15px;
    line-height: 1.5;
}

.slide {
  display: block;
  width: 500px;
  height: 400px;
/*
  border: 1px solid rgba(0, 0, 0, .3);
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, .1);
*/
  color: rgb(15, 15, 15);
  text-shadow: 0 2px 2px rgba(0, 0, 0, .1);
  font-family: 'Open Sans', Arial, sans-serif;
}

.credits, .credits h2 {
  padding-top: 0;
}


.future{
opacity: 0;
/*  display: none;*/
}

.past{
opacity: 0.2;
}






.step {
/*  opacity: 0.3;*/
  transition: opacity 1s;
}



.step.active {
  opacity: 1
}



#step-1 {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
}


#step-2  {

  font-size: 30px;
 /*font-family: 'PT Serif', georgia, serif;*/
border: 0;
}

#step-3 {
  background-color:white;
}

#step-4 {
  background-color:white;
}

#step-5 {
  background-color:white;
}

#step-6 {
  background-color:white;
}

#step-7 {
  background-color:white;
}


#step-8 {

  font-size: 40px;
  font-family: 'Robot';
}

#step-8 h1{

  margin: -30px 0px 10px;
}



#step-9 header{
  font-size: 40px;
}

#step-9 p{
  font-size: 20px;
}



#step-10 header{
  font-size: 40px;
}

#step-10 p{
  font-size: 20px;
}

#step-11 header{
  font-size: 40px;
}

#step-11 p{
  font-size: 20px;
}

#step-11 img{
  margin: -30px;
}


#step-12 header{
  font-size: 40px;
}

#step-12 p{
  font-size: 20px;
}



#step-13 header{
  font-size: 30px;
}

#step-13 p{
  font-size: 25px;
  font-weight: bold;
  margin: 0;
 padding: 0;
 border: 0;
 font-size: 100%;
 font: inherit;
 vertical-align: baseline;
}




/*  Pero este proceso tiene un límitre físico*/
#step-14 header{
  font-size: 30px;
}

#step-14 p{

  text-align: center;
  font-size: 60px;
  font-weight: bold;
}
}


#step-15 p{

  text-align: center;
  font-size: 30px;
  font-weight: bold;
}


#step-16 p{

  text-align: center;
  font-size: 30px;
  font-weight: bold;
}

#step-17 p{

  text-align: center;
  font-size: 30px;
  font-weight: bold;
}


/*  NASA */
#step-18 p{

  text-align: center;
  font-size: 30px;
  font-weight: bold;
}

#step-19 p{

  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

#step-19 b{

  text-align: center;
  font-size: 25px;
  font-weight: bold;
}


#step-20 p{

  text-align: center;
  font-size: 30px;
  font-weight: bold;
}

#step-20 b{

  text-align: center;
  font-size: 50px;
  font-weight: bold;
}


#step-21 p{

  text-align: center;
  font-size: 30px;
  font-weight: bold;
}




#step-22 p{

  text-align: center;
  font-size: 30px;
  font-weight: bold;
}

#step-23 p{

  text-align: center;
  font-size: 30px;
  font-weight: bold;
}

#step-24 p{

  text-align: center;
  font-size: 30px;
  font-weight: bold;
}

#step-24 b{

  text-align: center;
  font-size: 40px;
  font-weight: bold;
}


#step-25 p{

  text-align: center;
  font-size: 50px;
  font-weight: bold;
}
